@model treasurehunt.Core.Data.Models.Personnages.Hero

@{
    List<treasurehunt.Core.Data.Models.Personnages.Avatar> listOfAvatars = this.ViewBag.ListOfAvatars;
}

<h4>Créer mon héro</h4>
<hr />
<div class="row">
    <div class="col s12">
        <form asp-action="CreateHero">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="input-field col s4">
                    <input asp-for="Name" class="validate" />
                    <label asp-for="Name">Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            @foreach (var avatar in listOfAvatars)
            {
                <p>
                    <label>
                        <input type="radio" asp-for="Race" value="@avatar.Race" />
                        <span>@avatar.Race - @avatar.Health points de vie et @avatar.Attack points d'attaque</span>
                    </label>
                </p>
                <input asp-for="Health" value="@avatar.Health" type="hidden" />
                <input asp-for="Attack" value="@avatar.Attack" type="hidden" />
                <input asp-for="IsHero" value="@avatar.IsHero" type="hidden" />
                <input asp-for="IsDead" value="@avatar.IsDead" type="hidden" />

            }

            <div class="row">
                <div class="input-field col s4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
}
