@model List<treasurehunt.Core.Data.Models.Quest.StoryEvent>

@{
    ViewData["Title"] = "Index";
}

<h2 class="center-align">Events story</h2>
<div class="divider"></div>

<!--button to create new event-->
<a asp-action="Create" class="waves-effect waves-light btn">Create an event</a>
<div class="divider"></div>

<!--Table of all event-->
<table class="striped highlight">
    <!--head of table-->
    <thead>
        <tr>
            <th>ID</th>
            <th>Number</th>
            <th>Title</th>
            <th>Question</th>
            <th>Choices</th>
        </tr>
    </thead>
    <!--body of table-->
    <tbody>

        @foreach (var storyEvent in @Model)
        {
            <tr>
                <td>@storyEvent.Id</td>
                <td><a asp-controller="StoryEvent" asp-action="Details" asp-route-id="@storyEvent.Id">@storyEvent.Number</a></td>
                <td>@storyEvent.Title</td>
                @if (storyEvent.QuestionEvent != null)
                {
                    @if (storyEvent.QuestionEvent.Title != null)
                    {
                        <td>@storyEvent.QuestionEvent.Title</td>

                    }
                    else
                    {
                        <td>No question for this event</td>
                    }
                    @if (storyEvent.QuestionEvent.ChoicesEvent != null)
                    {
                        <td>
                            @foreach (var choice in storyEvent.QuestionEvent.ChoicesEvent)
                            {
                                @choice.StoryEventId;
                            }
                        </td>
                    }
                    else
                    {
                        <td>No choice for this event</td>
                    }
                }
                else
                {
                    <td>No question for this event</td>
                    <td>No choice for this event</td>
                }
            </tr>
        }
    </tbody>
</table>