@model IEnumerable<treasurehunt.Core.Data.Models.Characters.Enemy>

@{
    ViewData["Title"] = "Index";
}

<h2 class="center-align">Enemies</h2>
<div class="divider"></div>

<!--button to create new enemy-->
<div class="center-align ">
    <a asp-action="Create" class=" waves-light btn">Create an enemy</a>
</div>
<div class="divider"></div>

<!--cards for each enemy-->
<div class="row">
    @foreach (var enemy in Model)
    {
        <div class="col s12 m3">
            <div class="card sticky-action">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="data:image/jpg;base64,@Convert.ToBase64String(enemy.Image)">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">@enemy.Race<i class="material-icons right">more_vert</i></span>
                    <a asp-action="Edit" asp-route-id="@enemy.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@enemy.Id">Delete</a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">@enemy.Race<i class="material-icons right">close</i></span>
                    <div class="section">
                        <h6>Health :</h6>
                        <p>@enemy.Health points</p>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h6>Attack :</h6>
                        <p>@enemy.Attack points</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>