@model treasurehunt.Core.Data.Models.Quest.Choice

@{
    treasurehunt.Core.Data.Models.Quest.StoryEvent eventForChoice = ViewBag.EventForChoice;

    List<treasurehunt.Core.Data.Models.Quest.StoryEvent> listOfEvent = ViewBag.ListOfEvents;

    var listofAllEvents = listOfEvent.Select(item => new SelectListItem() { Text = item.Title, Value = item.Id.ToString() }).ToList();
}

<h3 class="center-align">Edit choice for event number @eventForChoice.Number</h3>
<div class="divider"></div>

<div class="row">
    <!--Event info-->
    <div class="col s12 m6">
        <div class="box">
            <div class="section">
                <h5>Title</h5>
                <div class="divider"></div>
                <p>  @eventForChoice.Title</p>
            </div>
        </div>
        <div class="box">
            <div class="section">
                <h5>Question</h5>
                <div class="divider"></div>
                <p>  @eventForChoice.QuestionEvent.Title</p>
            </div>
        </div>
        <div class="box">
            <div class="section">
                <h5>Description</h5>
                <div class="divider"></div>
                <p> @eventForChoice.Description</p>
            </div>
        </div>
    </div>

    <!--Choice form-->
    <div class="col s12 m6">
        <div class="box">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <input asp-for="Description" type="text" class="validate" />
                        <label asp-for="Description">Choice description</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="input-field col s12">
                    <select asp-for="StoryEventId" asp-items="listofAllEvents">
                        <option value="@eventForChoice.Id">@eventForChoice.Title</option>
                    </select>
                    <label>Choose next event for this choice</label>
                </div>

                <div class="input-field col s12" hidden>
                    <input asp-for="QuestionId" value="@eventForChoice.QuestionEvent.Id" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Edit choice" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
}